body{
        height: 100vh;
        width: 100%;
        margin: 0;

        font-family: inter;

        background: linear-gradient(to bottom, #A5BCCF, #7F87A9);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header{
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        top: 0px;
    }

    .logo{
        margin: 30px;
        height: 60px;
        width: auto;

        box-shadow: 0px, 4px, 4px, 0px, rgba(0, 0, 0, 0.25);

        cursor: pointer;
    }

    .sign-up-btn{
        margin: 30px;
        width: 40%;

        max-width: 200px;
        height: 50px;
        border-radius: 15px;
        border: solid, 1px, #d3d3d3c4;

        background-color: rgba(217,217,217,0.32);
        backdrop-filter: blur(15);
        color: white;
        font-size: 20px;
    }

    .login-card{
        width: 90%;
        max-width: 600px;
        padding: 50px;
        border-radius: 30px;
        border-color: #ccccccb2;
        border-width: 1px;
        border-style: solid;

        background-color: #d9d9d950;
        backdrop-filter: blur(4px);
    }

    .login-card h2{
        color: white;
        font-size: 45px;
        font-weight: 400;
        margin: 0;
    }

    .seperator{
        height: 3px;
        width: 90px;
        background-color: white;

        margin-top: 10px;
        margin-bottom: 50px;
    }

    .login-card input{
        height: 50px;
        width: 95%;
        max-width: 550px;
        border-radius: 30px;
        background-color: #fafafa77;
        border: solid, 1px, #d3d3d3c4;
        
        box-shadow: inset 0px 11px 15px 0px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15);
        margin-bottom: 30px;
        padding-left: 30px;

        font-size: 20px;

        color: rgba(255, 255, 255, 1);
    }

    input::placeholder{
        color:rgba(255, 255, 255, 0.836);
    }

    .login-card button{
        height: 60px;
        width: 100%;
        max-width: 160px;
        border-radius: 34px;
        background-color: rgba(250, 250, 250, 0.79);
        border: solid, 1px, #d3d3d3c4;
        
        box-shadow: inset 0px 11px 15px 0px rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(15);
        margin-bottom: 30px;

        font-size: 20px;
        color: rgba(0, 0, 0, 0.75);
    }

    button{
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    button:hover{
        transform: scale(1.04);
    }

    .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;

    }

    p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 17px;
    }

    a{
        color: rgba(255, 255, 255, 0.7);
    }

    .floating-box {
        position: absolute;
        width: 140px;
        height: 140px;
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(4px);
        border-radius: 10px;
        z-index: -1;
        border: solid, 1px, rgba(211, 211, 211, 0.7);
    }

    .box1 { top: 400px; left: 480px; z-index: 5; width: 160px; height: 160px;}
    .box2 { top: 100px; right: 550px; }
    .box3 { bottom: 250px; right: 520px; z-index: 5;}

    .status-msg{
        color: red;
        font-size: 14px;
        display: none;
    }