*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.background{
    background-image: linear-gradient(#A5BCCF, #7F87A9);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.nav img{
    width: 10%;
}

.nav h1{
    font-size: 24px;
    font-weight: 400;
    background-color: #D9D9D920;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #EDEDED;
    color: #E2E2E2;
    cursor: pointer;
    transition: background-color 1s, scale 0.5s ;
}

.nav h1:hover{
    scale: 1.05;
}

.nav h1:active{
    background-color: #D9D9D9FF;
}

.main-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 60%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50px;
    border: 1px solid #EAEAEA48;
    background-color: #FFFFFF24;
}

.main-card h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
}

.main-card .bold-text{
    font-weight: 500;
}

.message-container{
    display: flex;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.message-container h1{
    font-size: 30px;
    background-color: #D9D9D920;
    padding: 30px;
    border-radius: 30px 10px 30px 10px;
    border: 1px solid #EDEDED;
    z-index: 10;
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.message-left{
    position: absolute;
    left: 30px;
    top: 110px;
    display: flex;
    width: 45%;
    height: 40px;
    background-image: linear-gradient(#C56D86, #AE697C);
    box-shadow: 0 4px 0 0 #00000019;
    padding: 10px;
    border-radius: 2px 10px 10px 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    color: white;
}

.message-right{
    position: absolute;
    right: 30px;
    top: 170px;
    display: flex;
    width: 45%;
    height: 40px;
    background-color: #626370;
    box-shadow: 0 4px 0 0 #00000019;
    padding: 10px;
    border-radius: 10px 2px 10px 10px;
    margin-bottom: 10px;
    margin-right: 8px;
    color: white;
}

.launch-btn{
    transition: background-color 0.5s, scale 0.5s;
}

.launch-btn:hover{
    scale: 1.05;
}

.launch-btn:active{
    background-color: #D9D9D920;
}